<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{t.home}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="appointments" href="/tabs/appointments">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{t.appointments}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{t.notifications}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{t.profile}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
