@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';

html { direction: rtl; }
html[dir="rtl"] { direction: rtl; }
* { font-family: 'Vazirmatn', sans-serif; }
:root { --ion-font-family: 'Vazirmatn', sans-serif; }
body { font-family: 'Vazirmatn', sans-serif; -webkit-font-smoothing: antialiased; }

ion-input, ion-select, ion-textarea { --padding-start: 12px; --padding-end: 12px; text-align: right; }
ion-label, ion-title, p, h1, h2, h3 { text-align: right; }

.auth-layout {
  --background: #f6f7f9;
}
